$base-background: #3498db;

html, body {
  background: $base-background;
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;

  h1, h2, h3 {
    color: #fff;
    font-weight: lighter;
  }
}

.error {
  color: #eb3c2e !important;
}