{{template "layouts/base.html" .}}

{{define "content"}}
  <div class="cover black" data-color="black"></div>
  <div class="container">
      <h1 class="logo cursive">
          GeniusRabbit
      </h1>

      <div class="content">
          <h4 class="motto">An innovative profitable business platform on its way!</h4>
          <div class="subscribe">
              <h5 class="info-text">
                  Be one of the first to learn more about this exciting project.
                  {{if .good}}
                    <br />Ok. We'll let you know!
                  {{else if .error}}
                    <br /><span class="error">Something wrong!</span>
                  {{end}}
              </h5>
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3">
                    {{if not .good}}
                      <form class="form-inline" role="form" method="post" action="" validation="true">
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Email address</label>
                          <input type="email" class="form-control transparent" name="email" placeholder="Your email here..." required="true">
                        </div>
                        <button type="submit" class="btn btn-danger btn-fill">Notify Me</button>
                      </form>
                    {{end}}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer">
    <div class="container">
      <!-- Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. -->
      Coming soon <a href="http://geniusrabbit.com/">GeniusRabbit</a>
    </div>
  </div>
{{end}}